body {
  background: #f2d69e;
  text-align: center;
}

img {
  max-width: 80%;
  display: block;
  margin: 30px auto;
  border-radius: 15px;
}

h1 {
  font-size: 50px;
}

a {
  color: rgb(11, 75, 16);
}

a:visited {
  color: rgb(11, 75, 16);
}

span {
  margin: 10px;
}
